html {
    font-family: sans-serif;
    color: rgb(78, 21, 21);
}

body {
    align-items: center;
    background-color: rgb(197, 91, 91);
}

h1 {
    font-size: 34px;
    justify-content: center;
    display: flex;
    align-items: center;
}

img {
    width: 18%;
    border-radius: 50%;
}

.timer-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    max-width: 80%;
    margin-left: 10%;

}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.duration {
    width: 200px;
    height: 40px;
    font-size: 15px;
    color: rgb(78, 21, 21);
}

label {
    font-size: 20px;
}

.duration option {
    font-size: 15px;
}

button {
    width: 150px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(78, 21, 21);
    color: white;
    border-radius: 20px;
}

.selected-time {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.pomodoro {
    background-color: rgb(253, 151, 151);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 50px;
    margin: 15px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}